article#general
	section#general-overview
		h2 Overview
		.row
			.col-7
				p This document outlines core processes we have in place, to ensure our work is to the highest possible standard. It should also help create a default state for our code, to make it seamless when passing work between members of the production staff.

	section#browser-support
		h2 Browser Support
		p Unless client requirements stipulate otherwise, our full list of browser support is currently:
		ul
			li Chrome
			li Firefox
			li Opera
			li Safari
			li IE 7+
		p IE 6 should be considered, but does not need to function as fully as in the above &mdash; an acceptable level of usability is expected though. Everything we produce should be tested in all browsers available, on Windows, Mac as well as mobile browsers.

	section#text-editor-setup
		h2 Text Editor Setup
		.row
			.col-8
				p Choice of application is up to you - we use Git and SVN for the majority of our projects so integration with these is useful. Most members of staff are currently using 
					a(href='http://www.sublimetext.com/2') Sublime Text 2
					| .
				p We use tabs for indentation, usually set to a double-space width. We also trim all trailing whitespace when saving (with the exception of Jade files). Please ensure these are both set correctly in your editor.
			.col-4
				aside.callout
					p Jackbrewer on GitHub has made some great 
						a(href='https://github.com/jackbrewer/HTML-JackBB.tmbundle') HTML
						|  and 
						a(href='https://github.com/jackbrewer/CSS-JackBB.tmbundle') CSS
						|  bundles that speed up dev time in TextMate and Sublime. His 
						a(href='https://github.com/jackbrewer/Sublime-Settings') Sublime settings
						|  are also available to aid with setup.